.dune2d20.sheet.actor .window-content {
  background-image: url("../images/sheet/bg-character.jpg");
  background-size: cover;
  background-clip: border-box;
  font-family: "Hoefler";
}
.dune2d20.sheet.actor form {
  display: flex;
  flex-direction: column;
}
.dune2d20.sheet.actor form a:hover {
  text-shadow: 0 0 10px orange;
}
.dune2d20.sheet.actor nav.tabs {
  align-items: center;
  font-size: 1.2em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor nav.tabs .active {
  text-shadow: none;
  font-size: 1.2em;
  color: var(--color-focus-text);
  font-weight: bold;
}
.dune2d20.sheet.actor nav.tabs a:hover {
  text-shadow: 0 0 10px orange;
}
.dune2d20.sheet.actor .sheet-header {
  display: grid;
  grid-template-columns: 155px 1fr 25px;
}
.dune2d20.sheet.actor .sheet-header .top-title {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  font-family: "DuneRise";
  color: var(--color-normal-text);
  font-size: 2.5em;
}
.dune2d20.sheet.actor .sheet-header img {
  flex: 0 0 150px;
  height: 212px;
  border: none;
}
.dune2d20.sheet.actor .sheet-header .background {
  display: grid;
  grid-template-columns: 1fr 27px 4fr 27px;
  grid-auto-rows: 34px;
  align-items: center;
  margin: 0 2px;
  font-size: 1.2em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .sheet-header .background .bg-name {
  padding-right: 10px;
  text-align: right;
  font-weight: bold;
}
.dune2d20.sheet.actor .sheet-header .background .bg-data input {
  height: 34px;
  width: 100%;
  background: none;
  border: none;
  border-top: solid 1px var(--color-box-border);
  border-bottom: solid 1px var(--color-box-border);
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .sheet-header .background .bg-data input:focus {
  box-shadow: none;
}
.dune2d20.sheet.actor .sheet-header .background .bg-data input:read-only {
  cursor: default;
}
.dune2d20.sheet.actor .sheet-header .background .bg-data input:not([readonly]):focus {
  color: var(--color-focus-text);
  font-weight: bold;
}
.dune2d20.sheet.actor .sheet-header .background .bg-data input::placeholder {
  color: var(--color-placeholder-text);
  font-style: italic;
}
.dune2d20.sheet.actor .sheet-header .background .bg-data .house,
.dune2d20.sheet.actor .sheet-header .background .bg-data .trait {
  padding: 1px 3px;
}
.dune2d20.sheet.actor .sheet-header .background .bg-data.border {
  height: 34px;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--color-box-border);
  border-bottom: solid 1px var(--color-box-border);
}
.dune2d20.sheet.actor .sheet-header .background .bg-start {
  height: 34px;
  background-image: url("../images/sheet/field-left.png");
}
.dune2d20.sheet.actor .sheet-header .background .bg-end {
  height: 34px;
  background-image: url("../images/sheet/field-right.png");
}
.dune2d20.sheet.actor .sheet-header .padlock {
  text-align: center;
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .statistics {
  display: grid;
  grid-template-columns: 6fr 4fr;
}
.dune2d20.sheet.actor .statistics .stats-grid {
  display: grid;
  grid-template-columns: 1fr 59px 2fr 26px;
  grid-auto-rows: 50px;
  align-items: center;
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .statistics .stats-grid .title {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}
.dune2d20.sheet.actor .statistics .stats-grid .drive,
.dune2d20.sheet.actor .statistics .stats-grid .skill {
  text-align: right;
  padding-right: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.dune2d20.sheet.actor .statistics .stats-grid .val {
  font-family: "Perpetua";
  text-align: center;
  font-size: 1.25em;
  background-image: url("../images/sheet/drive-box.png");
}
.dune2d20.sheet.actor .statistics .stats-grid .val input {
  height: 50px;
  border: none;
  background: none;
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .statistics .stats-grid .val input:focus {
  box-shadow: none;
}
.dune2d20.sheet.actor .statistics .stats-grid .val input:read-only {
  cursor: default;
}
.dune2d20.sheet.actor .statistics .stats-grid .val input:not([readonly]):focus {
  color: var(--color-focus-text);
  font-weight: bold;
}
.dune2d20.sheet.actor .statistics .stats-grid .val input::placeholder {
  color: var(--color-placeholder-text);
  font-style: italic;
}
.dune2d20.sheet.actor .statistics .stats-grid .focuses textarea {
  font-size: 1.2em;
}
.dune2d20.sheet.actor .statistics .stats-grid .statement,
.dune2d20.sheet.actor .statistics .stats-grid .focuses {
  height: 50px;
  border-top: solid 1px var(--color-box-border);
  border-bottom: solid 1px var(--color-box-border);
}
.dune2d20.sheet.actor .statistics .stats-grid .statement textarea,
.dune2d20.sheet.actor .statistics .stats-grid .focuses textarea {
  resize: none;
  background: none;
  border: none;
  border-radius: 0;
  font-family: "Hoefler";
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .statistics .stats-grid .statement textarea:focus,
.dune2d20.sheet.actor .statistics .stats-grid .focuses textarea:focus {
  box-shadow: none;
}
.dune2d20.sheet.actor .statistics .stats-grid .statement textarea:read-only,
.dune2d20.sheet.actor .statistics .stats-grid .focuses textarea:read-only {
  cursor: default;
}
.dune2d20.sheet.actor .statistics .stats-grid .statement textarea:not([readonly]):focus,
.dune2d20.sheet.actor .statistics .stats-grid .focuses textarea:not([readonly]):focus {
  color: var(--color-focus-text);
  font-weight: bold;
  cursor: text;
}
.dune2d20.sheet.actor .statistics .stats-grid .stat-end {
  height: 50px;
  background-image: url("../images/sheet/drive-end.png");
}
.dune2d20.sheet.actor .statistics .col-right {
  display: grid;
  grid-template-columns: 1fr 248px 1fr;
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex,
.dune2d20.sheet.actor .statistics .col-right .assets-flex {
  display: flex;
  flex-direction: column;
  font-family: "Hoefler";
  font-size: 1.2em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .top-row,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .top-row {
  flex-basis: 41px;
  background-image: url("../images/sheet/talents-top.png");
  margin-top: 15px;
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .title-row,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .title-row {
  border-left: solid 1px var(--color-box-border);
  border-right: solid 1px var(--color-box-border);
  font-weight: bold;
  text-align: center;
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row {
  display: flex;
  border-left: solid 1px var(--color-box-border);
  border-right: solid 1px var(--color-box-border);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row .talent-name,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row .talent-name,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row .talent-name,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row .talent-name,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row .asset-name,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row .asset-name,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row .asset-name,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row .asset-name {
  flex: 1;
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row .quality,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row .quality,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row .quality,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row .quality {
  font-family: "Perpetua";
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row .edit-talent,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row .edit-talent,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row .edit-talent,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row .edit-talent,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row .remove-talent,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row .remove-talent,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row .remove-talent,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row .remove-talent,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row .talent-desc,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row .talent-desc,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row .talent-desc,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row .talent-desc,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row .edit-asset,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row .edit-asset,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row .edit-asset,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row .edit-asset,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row .remove-asset,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row .remove-asset,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row .remove-asset,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row .remove-asset,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .talent-row .asset-desc,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .talent-row .asset-desc,
.dune2d20.sheet.actor .statistics .col-right .talents-flex .asset-row .asset-desc,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .asset-row .asset-desc {
  flex-basis: 25px;
  text-align: center;
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .desc-row,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .desc-row {
  border-left: solid 1px var(--color-box-border);
  border-right: solid 1px var(--color-box-border);
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .desc-row .editor,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .desc-row .editor {
  background-color: var(--color-box-background);
  border: solid 1px var(--color-box-border);
  box-shadow: inset 0 0 5px var(--color-box-inset);
  border-radius: 5px;
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .desc-row .editor .editor-content,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .desc-row .editor .editor-content {
  padding: 2px 2px;
  font-size: 0.8em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .statistics .col-right .talents-flex .bottom-row,
.dune2d20.sheet.actor .statistics .col-right .assets-flex .bottom-row {
  flex-basis: 33px;
  background-image: url("../images/sheet/talents-bottom.png");
}
.dune2d20.sheet.actor .statistics .adv-det-grid {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: 1fr 47px 40px 36px 36px 40px 47px 1fr;
  grid-template-rows: 34px 70px;
  align-items: center;
  padding: 5px;
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .statistics .adv-det-grid .title {
  font-family: "Hoefler";
  font-weight: bold;
  text-align: center;
}
.dune2d20.sheet.actor .statistics .adv-det-grid .left {
  grid-column-start: 1;
  grid-column-end: 5;
}
.dune2d20.sheet.actor .statistics .adv-det-grid .right {
  grid-column-start: 5;
  grid-column-end: 9;
}
.dune2d20.sheet.actor .statistics .adv-det-grid .val {
  font-family: "Perpetua";
  text-align: center;
  font-size: 1.5em;
  grid-row-start: 2;
  grid-row-end: 3;
}
.dune2d20.sheet.actor .statistics .adv-det-grid .adv {
  grid-column-start: 3;
  grid-column-end: 4;
}
.dune2d20.sheet.actor .statistics .adv-det-grid .det {
  grid-column-start: 6;
  grid-column-end: 7;
}
.dune2d20.sheet.actor .statistics .adv-det-grid .back {
  grid-column-start: 2;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 70px;
  background-image: url("../images/sheet/pools.png");
}
.dune2d20.sheet.actor .statistics .adv-det-grid input {
  height: 40px;
  border: none;
  background: none;
  color: var(--color-normal-text);
}
.dune2d20.sheet.actor .statistics .adv-det-grid input:focus {
  box-shadow: none;
}
.dune2d20.sheet.actor .statistics .adv-det-grid input:read-only {
  cursor: default;
}
.dune2d20.sheet.actor .statistics .adv-det-grid input:not([readonly]):focus {
  color: var(--color-focus-text);
  font-weight: bold;
}
.dune2d20.sheet.actor .biography .editor {
  min-height: 100px;
  background-color: var(--color-box-background);
  border: solid 1px var(--color-box-border);
  box-shadow: inset 0 0 5px var(--color-box-inset);
  border-radius: 10px;
}
.dune2d20.sheet.actor .biography .editor .editor-content {
  padding: 2px 5px;
  color: var(--color-normal-text);
}
.dune2d20.sheet.house {
  font-family: "Hoefler";
}
.dune2d20.sheet.house .window-content {
  background-image: url("../images/sheet/bg-house.jpg");
  background-size: cover;
  background-clip: border-box;
}
.dune2d20.sheet.house form {
  display: flex;
  flex-direction: column;
}
.dune2d20.sheet.house form a:hover {
  text-shadow: 0 0 10px orange;
}
.dune2d20.sheet.house .sheet-header {
  display: grid;
  grid-template-columns: 25px 1fr 200px;
}
.dune2d20.sheet.house .sheet-header .top-title {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  font-family: "DuneRise";
  color: var(--color-normal-text);
  font-size: 2.5em;
}
.dune2d20.sheet.house .sheet-header img {
  flex: 0 0 200px;
  border: none;
  height: 200px;
}
.dune2d20.sheet.house .sheet-header .background {
  display: grid;
  grid-template-columns: 1fr 27px 3fr 27px;
  grid-auto-rows: 38px;
  align-items: center;
  margin: 0 2px;
  color: var(--color-normal-text);
}
.dune2d20.sheet.house .sheet-header .background .bg-name {
  padding-right: 10px;
  text-align: right;
  font-size: 1.1em;
  font-weight: bold;
}
.dune2d20.sheet.house .sheet-header .background .bg-data input,
.dune2d20.sheet.house .sheet-header .background .bg-data select {
  height: 34px;
  width: 100%;
  background: none;
  border: none;
  border-top: solid 1px var(--color-box-border);
  border-bottom: solid 1px var(--color-box-border);
  font-size: 1.2em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.house .sheet-header .background .bg-data input:focus,
.dune2d20.sheet.house .sheet-header .background .bg-data select:focus {
  box-shadow: none;
}
.dune2d20.sheet.house .sheet-header .background .bg-data input:read-only {
  cursor: default;
}
.dune2d20.sheet.house .sheet-header .background .bg-data input:not([readonly]):focus,
.dune2d20.sheet.house .sheet-header .background .bg-data select:focus {
  color: var(--color-focus-text);
  font-weight: bold;
}
.dune2d20.sheet.house .sheet-header .background .bg-data input::placeholder {
  color: var(--color-placeholder-text);
  font-style: italic;
}
.dune2d20.sheet.house .sheet-header .background .bg-data .trait,
.dune2d20.sheet.house .sheet-header .background .bg-data .type {
  padding: 1px 3px;
  font-size: 1.2em;
}
.dune2d20.sheet.house .sheet-header .background .bg-data.border {
  height: 34px;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--color-box-border);
  border-bottom: solid 1px var(--color-box-border);
}
.dune2d20.sheet.house .sheet-header .background .bg-start {
  height: 34px;
  background-image: url("../images/sheet/field-left.png");
}
.dune2d20.sheet.house .sheet-header .background .bg-end {
  height: 34px;
  background-image: url("../images/sheet/field-right.png");
}
.dune2d20.sheet.house .sheet-header .padlock {
  text-align: center;
  color: var(--color-normal-text);
}
.dune2d20.sheet.house .domaines-grid {
  display: grid;
  grid-template-columns: 1fr 720px 1fr;
}
.dune2d20.sheet.house .domaines-grid .domaines-flex {
  display: flex;
  flex-direction: column;
  font-family: "Hoefler";
  font-size: 1.2em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .top-row {
  flex-basis: 28px;
  background-image: url("../images/sheet/domaines-top.png");
  margin-top: 10px;
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .title-row {
  border-left: solid 1px var(--color-box-border);
  border-right: solid 1px var(--color-box-border);
  font-weight: bold;
  text-align: center;
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .domain-row {
  display: flex;
  border-left: solid 1px var(--color-box-border);
  border-right: solid 1px var(--color-box-border);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .domain-row .domain-name {
  flex: 2;
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .domain-row .domain-stat {
  flex: 1;
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .domain-row .edit-domain,
.dune2d20.sheet.house .domaines-grid .domaines-flex .domain-row .remove-domain {
  flex-basis: 25px;
  text-align: center;
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .desc-row {
  border-left: solid 1px var(--color-box-border);
  border-right: solid 1px var(--color-box-border);
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .desc-row .editor {
  background-color: var(--color-box-background);
  border: solid 1px var(--color-box-border);
  box-shadow: inset 0 0 5px var(--color-box-inset);
  border-radius: 5px;
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .desc-row .editor .editor-content {
  padding: 2px 2px;
  font-size: 0.8em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.house .domaines-grid .domaines-flex .bottom-row {
  flex-basis: 32px;
  background-image: url("../images/sheet/domaines-bottom.png");
}
.dune2d20.sheet.house .section-title {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--color-normal-text);
  margin-top: 10px;
}
.dune2d20.sheet.house .roles {
  display: grid;
  grid-template-columns: 27px 1fr 27px 10px 27px 1fr 27px;
  align-items: center;
  margin: 0 2px;
  color: var(--color-normal-text);
}
.dune2d20.sheet.house .roles .role-name {
  padding-right: 5px;
  padding-left: 5px;
  margin-top: 3px;
  font-weight: bold;
}
.dune2d20.sheet.house .roles .role-name.left {
  grid-column-start: 1;
  grid-column-end: 4;
}
.dune2d20.sheet.house .roles .role-name.right {
  grid-column-start: 5;
  grid-column-end: 8;
}
.dune2d20.sheet.house .roles .role-data input,
.dune2d20.sheet.house .roles .role-data select {
  height: 34px;
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
  background: none;
  border: none;
  border-top: solid 1px var(--color-box-border);
  border-bottom: solid 1px var(--color-box-border);
  font-size: 1.2em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.house .roles .role-data input:focus,
.dune2d20.sheet.house .roles .role-data select:focus {
  box-shadow: none;
}
.dune2d20.sheet.house .roles .role-data input:read-only {
  cursor: default;
}
.dune2d20.sheet.house .roles .role-data input:not([readonly]):focus,
.dune2d20.sheet.house .roles .role-data select:focus {
  color: var(--color-focus-text);
  font-weight: bold;
}
.dune2d20.sheet.house .roles .role-data input::placeholder {
  color: var(--color-placeholder-text);
  font-style: italic;
}
.dune2d20.sheet.house .roles .role-start {
  height: 34px;
  background-image: url("../images/sheet/field-left.png");
}
.dune2d20.sheet.house .roles .role-end {
  height: 34px;
  background-image: url("../images/sheet/field-right.png");
}
.dune2d20.sheet.house .enemies {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: var(--color-normal-text);
}
.dune2d20.sheet.house .enemies .enemy {
  display: grid;
  grid-template-columns: 1fr 2fr 25px 2fr 25px;
}
.dune2d20.sheet.house .enemies .enemy .enemy-title {
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 1.1em;
}
.dune2d20.sheet.house .enemies .enemy .remove-enemy,
.dune2d20.sheet.house .enemies .enemy .edit-enemy,
.dune2d20.sheet.house .enemies .enemy .hatred {
  font-size: 1.2em;
}
.dune2d20.sheet.house .enemies .enemy .enemy-name {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 1.2em;
}
.dune2d20.sheet.house .enemies .enemy .enemy-stat {
  grid-column-start: 2;
  grid-column-end: 5;
  font-size: 1.2em;
}
.dune2d20.sheet.house .enemies .enemy .enemy-notes {
  grid-column-start: 1;
  grid-column-end: 6;
  font-size: 1.2em;
}
.dune2d20.sheet.item a:hover {
  text-shadow: 0 0 10px orange;
}
.dune2d20.sheet.item .window-content {
  background-image: url("../images/sheet/bg-item.jpg");
  background-size: cover;
  background-clip: border-box;
  font-family: "Hoefler";
}
.dune2d20.sheet.item .sheet-header {
  display: grid;
  grid-template-columns: 70px 1fr;
}
.dune2d20.sheet.item .sheet-header img {
  flex: 0 0 64px;
  height: 64px;
  border: none;
}
.dune2d20.sheet.item .sheet-header .title {
  display: grid;
  grid-template-columns: 27px 4fr 27px;
  grid-auto-rows: 34px;
  align-items: center;
  font-size: 1.2em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.item .sheet-header .title .t-data input {
  height: 34px;
  width: 100%;
  background: none;
  border: none;
  border-top: solid 1px var(--color-box-border);
  border-bottom: solid 1px var(--color-box-border);
  color: var(--color-normal-text);
}
.dune2d20.sheet.item .sheet-header .title .t-data input:focus {
  box-shadow: none;
  color: var(--color-focus-text);
  font-weight: bold;
}
.dune2d20.sheet.item .sheet-header .title .t-data input::placeholder {
  color: var(--color-placeholder-text);
  font-style: italic;
}
.dune2d20.sheet.item .sheet-header .title .t-data.border {
  height: 34px;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--color-box-border);
  border-bottom: solid 1px var(--color-box-border);
}
.dune2d20.sheet.item .sheet-header .title .t-start {
  height: 34px;
  background-image: url("../images/sheet/field-left.png");
}
.dune2d20.sheet.item .sheet-header .title .t-end {
  height: 34px;
  background-image: url("../images/sheet/field-right.png");
}
.dune2d20.sheet.item .sheet-body .talent-grid,
.dune2d20.sheet.item .sheet-body .asset-grid,
.dune2d20.sheet.item .sheet-body .trait-grid,
.dune2d20.sheet.item .sheet-body .domain-grid,
.dune2d20.sheet.item .sheet-body .enemy-grid {
  display: grid;
  grid-template-columns: 3fr 7fr;
}
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats {
  display: grid;
  grid-template-columns: 4fr 1fr;
  align-items: center;
  grid-auto-rows: 35px;
  padding: 5px;
}
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats .stat,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats .stat,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats .stat,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats .stat,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats .stat,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats .stat,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats .stat,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats .stat,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats .stat,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats .stat,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats .stat,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats .stat,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats .stat,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats .stat,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats .stat,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats .stat,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats .stat,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats .stat,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats .stat,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats .stat,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats .stat,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats .stat,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats .stat,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats .stat,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats .stat {
  font-size: 1.4em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats .chk-talent,
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats .chk-item,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats .chk-item,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats .chk-item,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats .chk-item,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats .chk-item,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats .chk-item,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats .chk-item,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats .chk-item,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats .chk-item,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats .chk-item,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats .chk-item,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats .chk-item,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats .chk-item,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats .chk-item,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats .chk-item,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats .chk-item,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats .chk-item,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats .chk-item,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats .chk-item,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats .chk-item,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats .chk-item,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats .chk-item,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats .chk-item,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats .chk-item,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats .chk-item {
  font-size: 1.4em;
  color: var(--color-normal-text);
  text-align: center;
}
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats select,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats select,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats select,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats select,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats select,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats select,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats select,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats select,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats select,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats select,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats select,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats select,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats select,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats select,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats select,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats select,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats select,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats select,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats select,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats select,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats select,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats select,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats select,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats select,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats select {
  width: 100%;
  font-size: 1.2em;
  color: var(--color-normal-text);
  margin-bottom: 10px;
}
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats select:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats select:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats select:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats select:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats select:focus,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats select:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats select:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats select:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats select:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats select:focus,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats select:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats select:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats select:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats select:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats select:focus,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats select:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats select:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats select:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats select:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats select:focus,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats select:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats select:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats select:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats select:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats select:focus {
  box-shadow: none;
}
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats .val,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats .val,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats .val,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats .val,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats .val,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats .val,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats .val,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats .val,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats .val,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats .val,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats .val,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats .val,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats .val,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats .val,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats .val,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats .val,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats .val,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats .val,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats .val,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats .val,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats .val,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats .val,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats .val,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats .val,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats .val {
  text-align: center;
  font-family: "Perpetua";
  font-size: 1.25em;
}
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats input,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats input,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats input,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats input,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats input,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats input,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats input,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats input,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats input,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats input,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats input,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats input,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats input,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats input,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats input,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats input,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats input,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats input,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats input,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats input,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats input,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats input,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats input,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats input,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats input {
  width: 100%;
  font-size: 1.2em;
  color: var(--color-normal-text);
}
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats input:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats input:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats input:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats input:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats input:focus,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats input:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats input:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats input:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats input:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats input:focus,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats input:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats input:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats input:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats input:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats input:focus,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats input:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats input:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats input:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats input:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats input:focus,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats input:focus,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats input:focus,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats input:focus,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats input:focus,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats input:focus {
  box-shadow: none;
  color: var(--color-focus-text);
  font-weight: bold;
}
.dune2d20.sheet.item .sheet-body .talent-grid .talent-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .asset-grid .talent-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .trait-grid .talent-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .domain-grid .talent-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .enemy-grid .talent-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .talent-grid .asset-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .asset-grid .asset-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .trait-grid .asset-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .domain-grid .asset-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .enemy-grid .asset-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .talent-grid .trait-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .asset-grid .trait-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .trait-grid .trait-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .domain-grid .trait-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .enemy-grid .trait-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .talent-grid .domain-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .asset-grid .domain-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .trait-grid .domain-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .domain-grid .domain-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .enemy-grid .domain-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .talent-grid .enemy-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .asset-grid .enemy-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .trait-grid .enemy-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .domain-grid .enemy-stats input::placeholder,
.dune2d20.sheet.item .sheet-body .enemy-grid .enemy-stats input::placeholder {
  color: var(--color-placeholder-text);
  font-style: italic;
}
.dune2d20.sheet.item .sheet-body .talent-grid .full-col,
.dune2d20.sheet.item .sheet-body .asset-grid .full-col,
.dune2d20.sheet.item .sheet-body .trait-grid .full-col,
.dune2d20.sheet.item .sheet-body .domain-grid .full-col,
.dune2d20.sheet.item .sheet-body .enemy-grid .full-col {
  grid-column-start: 1;
  grid-column-end: 3;
}
.dune2d20.sheet.item .sheet-body .talent-desc,
.dune2d20.sheet.item .sheet-body .asset-desc,
.dune2d20.sheet.item .sheet-body .trait-desc,
.dune2d20.sheet.item .sheet-body .domain-desc,
.dune2d20.sheet.item .sheet-body .enemy-desc {
  padding: 5px;
  border-left: solid 1px var(--color-box-border);
}
.dune2d20.sheet.item .sheet-body .talent-desc .title,
.dune2d20.sheet.item .sheet-body .asset-desc .title,
.dune2d20.sheet.item .sheet-body .trait-desc .title,
.dune2d20.sheet.item .sheet-body .domain-desc .title,
.dune2d20.sheet.item .sheet-body .enemy-desc .title {
  font-size: 1.4em;
  color: var(--color-normal-text);
  margin-bottom: 5px;
}
.dune2d20.sheet.item .sheet-body .talent-desc input,
.dune2d20.sheet.item .sheet-body .asset-desc input,
.dune2d20.sheet.item .sheet-body .trait-desc input,
.dune2d20.sheet.item .sheet-body .domain-desc input,
.dune2d20.sheet.item .sheet-body .enemy-desc input {
  width: 100%;
  background-color: var(--color-box-background);
  border: solid 1px var(--color-box-border);
  box-shadow: inset 0 0 5px var(--color-box-inset);
  font-size: 1.2em;
  color: var(--color-normal-text);
  margin-bottom: 10px;
}
.dune2d20.sheet.item .sheet-body .talent-desc input:focus,
.dune2d20.sheet.item .sheet-body .asset-desc input:focus,
.dune2d20.sheet.item .sheet-body .trait-desc input:focus,
.dune2d20.sheet.item .sheet-body .domain-desc input:focus,
.dune2d20.sheet.item .sheet-body .enemy-desc input:focus {
  box-shadow: none;
  color: var(--color-focus-text);
  font-weight: bold;
}
.dune2d20.sheet.item .sheet-body .talent-desc input::placeholder,
.dune2d20.sheet.item .sheet-body .asset-desc input::placeholder,
.dune2d20.sheet.item .sheet-body .trait-desc input::placeholder,
.dune2d20.sheet.item .sheet-body .domain-desc input::placeholder,
.dune2d20.sheet.item .sheet-body .enemy-desc input::placeholder {
  color: var(--color-placeholder-text);
  font-style: italic;
}
.dune2d20.sheet.item .sheet-body .talent-desc .ed-110,
.dune2d20.sheet.item .sheet-body .asset-desc .ed-110,
.dune2d20.sheet.item .sheet-body .trait-desc .ed-110,
.dune2d20.sheet.item .sheet-body .domain-desc .ed-110,
.dune2d20.sheet.item .sheet-body .enemy-desc .ed-110 {
  min-height: 110px;
  margin-bottom: 10px;
}
.dune2d20.sheet.item .sheet-body .talent-desc .ed-200,
.dune2d20.sheet.item .sheet-body .asset-desc .ed-200,
.dune2d20.sheet.item .sheet-body .trait-desc .ed-200,
.dune2d20.sheet.item .sheet-body .domain-desc .ed-200,
.dune2d20.sheet.item .sheet-body .enemy-desc .ed-200 {
  min-height: 200px;
  margin-bottom: 10px;
}
.dune2d20.sheet.item .sheet-body .talent-desc .ed-265,
.dune2d20.sheet.item .sheet-body .asset-desc .ed-265,
.dune2d20.sheet.item .sheet-body .trait-desc .ed-265,
.dune2d20.sheet.item .sheet-body .domain-desc .ed-265,
.dune2d20.sheet.item .sheet-body .enemy-desc .ed-265 {
  min-height: 265px;
  margin-bottom: 10px;
}
.dune2d20.sheet.item .sheet-body .talent-desc .editor,
.dune2d20.sheet.item .sheet-body .asset-desc .editor,
.dune2d20.sheet.item .sheet-body .trait-desc .editor,
.dune2d20.sheet.item .sheet-body .domain-desc .editor,
.dune2d20.sheet.item .sheet-body .enemy-desc .editor {
  min-height: inherit;
  background-color: var(--color-box-background);
  border: solid 1px var(--color-box-border);
  box-shadow: inset 0 0 5px var(--color-box-inset);
  border-radius: 10px;
}
.dune2d20.sheet.item .sheet-body .talent-desc .editor .editor-content,
.dune2d20.sheet.item .sheet-body .asset-desc .editor .editor-content,
.dune2d20.sheet.item .sheet-body .trait-desc .editor .editor-content,
.dune2d20.sheet.item .sheet-body .domain-desc .editor .editor-content,
.dune2d20.sheet.item .sheet-body .enemy-desc .editor .editor-content {
  padding: 2px 5px;
  font-size: 1.2em;
  color: var(--color-normal-text);
}
@font-face {
  font-family: "DuneRise";
  src: url("../fonts/Dune_Rise.ttf") format("truetype");
}
@font-face {
  font-family: "DuneRiseO";
  src: url("../fonts/Dune_Rise.otf") format("opentype");
}
@font-face {
  font-family: "Hoefler";
  src: url("../fonts/Hoefler Text Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Perpetua";
  src: url("../fonts/Perpetua Normal.ttf") format("truetype");
}
:root {
  --color-normal-text: #887264;
  --color-focus-text: #bb8b67;
  --color-placeholder-text: #88726480;
  --color-highlight: #bd6f34;
  --color-box-border: #887264;
  --color-box-inset: #e7ddd6;
  --color-box-background: #88726440;
  --color-scrollbar: rgba(255, 166, 0, 0.836);
}
::-webkit-scrollbar-thumb {
  outline: none;
  border-radius: 3px;
  background: var(--color-scrollbar);
  border: 1px solid var(--color-box-inset);
}
/*#logo {
    content: url("../images/ui/dune-logo-fvtt.png");
}*/
#pause {
  background: none;
}
#pause img {
  opacity: 0.8;
}
#pause figcaption {
  font-family: "DuneRise";
  font-weight: bold;
  color: var(--color-highlight);
}
.paused img {
  content: url("../images/ui/pause.png");
}
.window-app.dialog .window-content {
  background-image: url("../images/sheet/bg-dialog.jpg");
  background-size: cover;
  background-clip: border-box;
  font-family: "Hoefler";
  font-size: 1.2em;
}
