<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        <div class="title">
            <div class="t-start"></div>
            <div class="t-data"><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'dune2d20.item.assetName' }}"/></div>
            <div class="t-end"></div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="asset-grid">
            <div class="asset-stats">
                <div class="stat">{{ localize 'dune2d20.item.temporary' }}</div>
                <a class="chk-asset" title="{{ localize 'dune2d20.item.temporary' }}" data-field="system.temporary">
                    {{#if data.system.temporary}}<i class="fa-light fa-hexagon-check"></i>{{else}}<i class="fa-light fa-hexagon"></i>{{/if}}
                </a>
                <div class="stat">{{ localize 'dune2d20.item.quality' }}</div>
                <div class="val"><input name="system.quality" type="number" value="{{data.system.quality}}" min="0" max="4"/></div>
                <div class="stat">{{ localize 'dune2d20.item.keywords' }}</div>
                <div class="full-col"><input name="system.keywords" type="text" value="{{data.system.keywords}}"></div>
            </div>
             <div class="asset-desc">
                <div class="title">{{ localize 'dune2d20.item.description' }}</div>
                <div class="ed-200">{{editor data.system.description target="system.description" button=true owner=true editable=true}}</div>
            </div>
        </div>
    </section>
</form>