<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        <div class="title">
            <div class="t-start"></div>
            <div class="t-data"><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'dune2d20.item.domainName' }}"/></div>
            <div class="t-end"></div>
        </div>
    </header>
    <section class="sheet-body">

    </section>
</form>