<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        <div class="title">
            <div class="t-start"></div>
            <div class="t-data"><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'dune2d20.item.talentName' }}"/></div>
            <div class="t-end"></div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="talent-grid">
            <div class="talent-stats">
                <div class="stat">{{ localize 'dune2d20.item.faction' }}</div>
                <a class="chk-talent" title="{{ localize 'dune2d20.item.linkToFaction' }}" data-field="system.linkToFaction" data-stat="system.faction">
                    {{#if data.system.linkToFaction}}<i class="fa-light fa-hexagon-check"></i>{{else}}<i class="fa-light fa-hexagon"></i>{{/if}}
                </a>
                {{#if data.system.linkToFaction}}
                    <div class="full-col">                    
                        <select name="system.faction">
                            {{#select data.system.faction}}
                                {{#each config.factions as |name faction|}}
                                    <option value="{{faction}}">{{localize name}}</option>
                                {{/each}}
                            {{/select}} 
                        </select>
                    </div>
                {{/if}}
                <div class="stat">{{ localize 'dune2d20.item.skill' }}</div>
                <a class="chk-talent" title="{{ localize 'dune2d20.item.linkToSkill' }}" data-field="system.linkToSkill" data-stat="system.skill">
                    {{#if data.system.linkToSkill}}<i class="fa-light fa-hexagon-check"></i>{{else}}<i class="fa-light fa-hexagon"></i>{{/if}}
                </a>
                {{#if data.system.linkToSkill}}
                    <div class="full-col">
                        <select name="system.skill">
                            {{#select data.system.skill}}
                                {{#each config.skills as |name skill|}}
                                    <option value="{{skill}}">{{localize name}}</option>
                                {{/each}}
                            {{/select}} 
                        </select>
                    </div>
                {{/if}}
                <div class="stat">{{ localize 'dune2d20.item.drive' }}</div>
                <a class="chk-talent" title="{{ localize 'dune2d20.item.linkToDrive' }}" data-field="system.linkToDrive" data-stat="system.drive">
                    {{#if data.system.linkToDrive}}<i class="fa-light fa-hexagon-check"></i>{{else}}<i class="fa-light fa-hexagon"></i>{{/if}}
                </a>
                {{#if data.system.linkToDrive}}
                    <div class="full-col">
                        <select name="system.drive">
                            {{#select data.system.drive}}
                                {{#each config.drives as |name drive|}}
                                    <option value="{{drive}}">{{localize name}}</option>
                                {{/each}}
                            {{/select}} 
                        </select>
                    </div>
                {{/if}}
            </div>
            <div class="talent-desc">
                <div class="title">{{ localize 'dune2d20.item.description' }}</div>
                <div class="ed-100">{{editor data.system.description target="system.description" button=true owner=true editable=true}}</div>
                <div class="title">{{ localize 'dune2d20.item.ruleText' }}</div>
                <div class="ed-100">{{editor data.system.ruleText target="system.ruleText" button=true owner=true editable=true}}</div>
            </div>
        </div>
    </section>
</form>