<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>
        <div class="title">
            <div class="t-start"></div>
            <div class="t-data"><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'dune2d20.item.traitName' }}"/></div>
            <div class="t-end"></div>
        </div>
    </header>
    <section class="sheet-body">
        <div class="trait-grid">
            <div class="trait-stats">
                <div class="stat">{{ localize 'dune2d20.item.temporary' }}</div>
                <a class="chk-item" title="{{ localize 'dune2d20.item.temporary' }}" data-field="system.temporary">
                    {{#if data.system.temporary}}<i class="fa-light fa-hexagon-check"></i>{{else}}<i class="fa-light fa-hexagon"></i>{{/if}}
                </a>
            </div>
            <div class="trait-desc">
                <div class="title">{{ localize 'dune2d20.item.description' }}</div>
                <div class="ed-265">{{editor data.system.description target="system.description" button=true owner=true editable=true}}</div>
            </div>
        </div>
    </section>
</form>