{{#each talents as |talent id|}}
    <div class="talent-row item" data-item-id="{{talent._id}}" data-item-type="talent">
        <div class="talent-name">• {{talent.name}}</div>
        <a class="edit-item" title="{{localize 'dune2d20.hint.editTalent'}}"><i class="fa-regular fa-sliders"></i></a>
        <a class="remove-item" title="{{localize 'dune2d20.hint.removeTalent'}}"><i class="fa-solid fa-hexagon-xmark"></i></a>
    </div>
{{/each}}