.chat-message {
    font-family: "Hoefler";

    background-image: url("../images/ui/bg-chat.jpg");
    background-size: cover;
    background-clip: border-box;

    .message-header {
        font-size: 1.3em;
        color: var(--color-normal-text);

        .message-timestamp {
            font-family: "Perpetua";
        }
    }

    .stats-name {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: center;

        margin: 6px 0 3px 0;

        color: var(--color-normal-text);
        font-weight: bold;
    }

    .stats-val {
        display: grid;
        grid-template-columns: 1fr 50px 2fr 50px 1fr;
        align-items: center;
        text-align: center;
        margin: 3px 0;

        font-family: "Perpetua";
        font-size: 1.5em;
        font-weight: bold;
        color: var(--color-normal-text);

        .left-bg {
            background-image: url("../images/ui/chat-bg-stat.png");
            background-size: 50px 50px;
            height: 50px;

            grid-column-start: 2;
            grid-row-start: 1;
        }

        .right-bg {
            background-image: url("../images/ui/chat-bg-stat.png");
            background-size: 50px 50px;
            height: 50px;

            grid-column-start: 4;
            grid-row-start: 1;
        }

        .left-val {
            grid-column-start: 2;
            grid-row-start: 1;
        }

        .right-val {
            grid-column-start: 4;
            grid-row-start: 1;
        }
    }

    .focus {
        margin: 3px;

        font-size: 1.2em;
        color: var(--color-normal-text);
        text-align: center;
    }

    .dices-pool {
        display: flex;
        justify-content: center;

        margin: 3px;
    }
    
    .dice-back {
        display: flex;
        justify-content: center;
        margin: 3px 0;
    
        .roll {
            width: 45px;
            line-height: 45px;
            margin: 3px;

            font-family: "Perpetua";
            font-size: 1.5em;
            font-weight: bold;
            text-align: center;
            
        }
    
        .d20 {
            background: url("../images/ui/d20-dune.svg") no-repeat;
            color: var(--color-dice-normal);
            background-size: 45px 45px;
        }

        .d20.crit {
            color: var(--color-dice-crit);
        }

        .d20.determ {
            background: url("../images/ui/d20-dune-determ.svg") no-repeat;
            background-size: 45px 45px;
            color: var(--color-dice-determ);
        }

        .d20.comp {
            background: url("../images/ui/d20-dune-comp.svg") no-repeat;
            background-size: 45px 45px;
            color: var(--color-dice-comp);
        }
    }

    .successes {
        text-align: center;
        margin: 3px 0;

        font-size: 1.3em;
        color: var(--color-normal-text);
    }

    .test-result {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px 0;
        padding-top: 3px;

        font-size: 1.3em;
        font-family: "DuneRise";
        font-weight: bold;
        color: var(--color-darker-text);

        background-image: url("../images/ui/chat-deco1-l.png");
        background-size: 272px 33px;
        height: 33px;
    }

    .footer {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 3px 0;

        .momentum-bg {
            display: flex;
            align-items: center;
            justify-content: center;

            margin: 3px 0;
            width: 50px;
            height: 50px;

            background: url("../images/ui/momentum-token.png") no-repeat;
            background-size: 50px 50px;
            
            .momentum {
                font-family: "Perpetua";
                font-size: 1.5em;
                font-weight: bold;
                color: var(--color-darker-text);
                text-shadow: white 0 0 5px;

                border-radius: 10px;
                backdrop-filter: blur(3px);

            }
        }

        /*.complication-bg {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 150px;
            height: 50px;

            background: url("../images/ui/krys.png") no-repeat;
            background-size: 150px 29px;
            background-position: center;

            .complication {
                font-family: "Perpetua";
                font-size: 1.5em;
                font-weight: bold;
                color: var(--color-darker-text);
                text-shadow: white 0 0 5px;

                border-radius: 10px;
                //backdrop-filter: blur(3px);

            }
        }*/

        .comp {
            display: flex;
            flex-direction: column;
            align-items: center;

            .comp-img {
                background: url("../images/ui/krys.png") no-repeat;
                background-size: 150px 29px;
                background-position: center;

                margin: 3px 0;
                width: 150px;
            }

            .comp-text {
                margin: 3px 0;
                
                font-family: "Perpetua";
                font-size: 1.5em;
                font-weight: bold;
                color: var(--color-darker-text);
            }
        }
    }

}