@font-face {
    font-family: "DuneRise";
    src: url("../fonts/Dune_Rise.ttf") format("truetype");
}

@font-face {
    font-family: "DuneRiseO";
    src: url("../fonts/Dune_Rise.otf") format("opentype");
}

@font-face {
    font-family: "Hoefler";
    src: url("../fonts/Hoefler Text Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Perpetua";
    src: url("../fonts/Perpetua Normal.ttf") format("truetype");
}

:root {
    
    --color-normal-text: #887264;
    --color-focus-text: #bb8b67;
    --color-highlight:#bd6f34;
    --color-box-border: #887264;
    --color-box-inset: #e7ddd6;
    --color-box-background: #88726440;
    --color-scrollbar: rgba(255, 166, 0, 0.836);
    
}

::-webkit-scrollbar-thumb {
    outline: none;
    border-radius: 3px;
    background: var(--color-scrollbar);
    border: 1px solid var(--color-box-inset);
}

/*#logo {
    content: url("../images/ui/dune-logo-fvtt.png");
}*/

#pause {
    background: none;
    
    img {
        opacity: 0.8;
    }

    figcaption {
        font-family: "DuneRise";
        font-weight: bold;
        color: var(--color-highlight);
    }
}

.paused img {
    content: url("../images/ui/pause.png");
}

.window-app.dialog {

    .window-content {
        background-image: url("../images/sheet/bg-dialog.jpg");
        background-size: cover;
        background-clip: border-box;

        font-family: "Hoefler";
        font-size: 1.2em;
    }
}