<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="top-title">D U N E</div>
        <img class="" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
        <div class="background">
            {{#if unlocked}}
                {{> "systems/dune2d20/templates/partials/actors/character-background-unlocked.hbs" }}
            {{else}}
                {{> "systems/dune2d20/templates/partials/actors/character-background-locked.hbs" }}
            {{/if}}
        </div>
        {{#if unlocked}}
            <div class="padlock">
                <a class="sheet-change-lock" title="{{localize 'dune2d20.hint.lock'}}">
                    <i class="fa-solid fa-unlock"></i>
                </a>
            </div>
        {{else}}
            <div class="padlock">
                <a class="sheet-change-lock" title="{{localize 'dune2d20.hint.unlock'}}">
                    <i class="fa-solid fa-lock"></i>
                </a>
            </div>
        {{/if}}
    </header>
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="statistics">{{localize "dune2d20.actor.statistics"}}</a>
        <a class="item" data-tab="biography">{{localize "dune2d20.actor.biography"}}</a>
    </nav>
    <section class="sheet-body character">
        <div class="tab statistics-content" data-group="primary" data-tab="statistics">
            <div class="statistics">
                <div class="stats-grid">
                    <!-- Drives title -->
                    <div class="title">{{ localize 'dune2d20.actor.drive' }}</div>
                    <div> </div>
                    <div class="title">{{ localize 'dune2d20.actor.statement' }}</div>
                    <div> </div>
                    {{#if unlocked}}
                        {{> "systems/dune2d20/templates/partials/actors/character-drives-unlocked.hbs" }}
                    {{else}}
                        {{> "systems/dune2d20/templates/partials/actors/character-drives-locked.hbs" }}
                    {{/if}}

                    <!-- Skills title -->
                    <div class="title">{{ localize 'dune2d20.actor.skill' }}</div>
                    <div> </div>
                    <div class="title">{{ localize 'dune2d20.actor.focuses' }}</div>
                    <div> </div>
                    {{#if unlocked}}
                        {{> "systems/dune2d20/templates/partials/actors/character-skills-unlocked.hbs" }}
                    {{else}}
                        {{> "systems/dune2d20/templates/partials/actors/character-skills-locked.hbs" }}
                    {{/if}}
                </div>
                <div class="col-right">
                    <div> </div>
                    <div class="talents-flex">
                        <div class="top-row"> </div>
                        <div class="title-row">{{ localize 'dune2d20.actor.talents' }}</div>
                        {{#if unlocked}}
                            {{> "systems/dune2d20/templates/partials/actors/character-talents-unlocked.hbs" }}
                        {{else}}
                            {{> "systems/dune2d20/templates/partials/actors/character-talents-locked.hbs" }}
                        {{/if}}
                        <div class="bottom-row"> </div>
                    </div>
                    <div> </div>
                    <div> </div>
                    <div class="assets-flex">
                        <div class="top-row"> </div>
                        <div class="title-row">{{ localize 'dune2d20.actor.assets' }}</div>
                        {{#if unlocked}}
                            {{> "systems/dune2d20/templates/partials/actors/character-assets-unlocked.hbs" }}
                        {{else}}
                            {{> "systems/dune2d20/templates/partials/actors/character-assets-locked.hbs" }}
                        {{/if}}
                        <div class="bottom-row"> </div>
                    </div>
                    <div> </div>
                    <div class="adv-det-grid ">
                        <div class="title">{{ localize 'dune2d20.actor.advancement' }}</div>
                        <div class="title">{{ localize 'dune2d20.actor.determination' }}</div>
                        <div class="val"><input name="system.resources.advancementPoints.value" type="number" value="{{data.system.resources.advancementPoints.value}}" min="{{data.system.resources.advancementPoints.min}}"></div>
                        <div class="val"><input name="system.resources.determination.value" type="number" value="{{data.system.resources.determination.value}}" min="{{data.system.resources.determination.min}}" max="{{data.system.resources.determination.max}}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab biography-content" data-group="primary" data-tab="biography">
            <div class="biography">
                {{editor data.system.biography target="system.biography" button=true owner=true editable=true}}
            </div>
        </div>
    </section>
</form>