<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <div class="top-title">D U N E</div>
        {{#if unlocked}}
            <div class="padlock">
                <a class="sheet-change-lock" title="{{localize 'dune2d20.hint.lock'}}">
                    <i class="fa-solid fa-unlock"></i>
                </a>
            </div>
        {{else}}
            <div class="padlock">
                <a class="sheet-change-lock" title="{{localize 'dune2d20.hint.unlock'}}">
                    <i class="fa-solid fa-lock"></i>
                </a>
            </div>
        {{/if}}
        <div class="background">
            {{#if unlocked}}
                {{> "systems/dune2d20/templates/partials/house/house-background-unlocked.hbs" }}
            {{else}}
                {{> "systems/dune2d20/templates/partials/house/house-background-locked.hbs" }}
            {{/if}}
        </div>
        <img class="" src="{{actor.img}}" title="{{actor.name}}" data-edit="img"/>
    </header>
    <section class="sheet-body">
        <div class="domaines-grid">
            <div> </div>
            <div class="domaines-flex">
                <div class="top-row"> </div>
                <div class="title-row">{{ localize 'dune2d20.actor.domains' }}</div>
                {{#if unlocked}}
                    {{> "systems/dune2d20/templates/partials/house/house-domaines-unlocked.hbs" }}
                {{else}}
                    {{> "systems/dune2d20/templates/partials/house/house-domaines-locked.hbs" }}
                {{/if}}
                <div class="bottom-row"> </div>
            </div>
            <div> </div>
        </div>
        <div class="section-title">{{ localize 'dune2d20.actor.houseRoles' }}</div>
        <div class="roles">
            {{#if unlocked}}
                {{> "systems/dune2d20/templates/partials/house/house-roles-unlocked.hbs" }}
            {{else}}
                {{> "systems/dune2d20/templates/partials/house/house-roles-locked.hbs" }}
            {{/if}}
        </div>
        <div class="section-title">{{ localize 'dune2d20.actor.enemies' }}</div>
        <div class="enemies">
            {{#if unlocked}}
                {{> "systems/dune2d20/templates/partials/house/house-enemies-unlocked.hbs" }}
            {{else}}
                {{> "systems/dune2d20/templates/partials/house/house-enemies-locked.hbs" }}
            {{/if}}
        </div>
    </section>
</form>